@model VitaDiet.Persistencia.PQR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PQR</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.CALIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
