@model VitaDiet.Models.DISTRIBUIDOR

@{
    ViewBag.Title = "Detailles";
}

<h2>Detailles</h2>

<div>
    <h4>DISTRIBUIDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEDULA_NUTRICIONISTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_NUTRICIONISTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
