@model IEnumerable<VitaDiet.Persistencia.DISTRIBUIDOR>

@{
    ViewBag.Title = "Listar Distribuidores";
}

<h2>Listar Distribuidores</h2>

<p>
    @Html.ActionLink("Crear nuevo Distribuidor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA_NUTRICIONISTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELULAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CEDULA_NUTRICIONISTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELULAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORREO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
