@{
    ViewBag.Title = "VitaDiet";
}


<body style="background-color:#000000">


    <div id="container" class="container">
        <div id="Header" class="Header"> <img height="328%" width="100%" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s65824f513463eee3/image/i47b9bf9b0051ce5c/version/1546526469/image.jpg" /></div>
    </div>
    <div style="position:absolute; top:-10px; left:400px; visibility:visible"><img height="200" width="200" src="https://www.swees.eu/files/2017/08/logo-vitadiet-300x245.png" /></div>



    <div class="row">
        <div class="col-md-4">
            <h2 style="font-size:20px; position:absolute; top:-650px; left:70px">@Html.ActionLink("PACIENTE", "index", "PACIENTEs")</h2>


        </div>
        <div class="col-md-4">
            <h2 style="font-size:20px; position:absolute; top:-620px; right:640px">@Html.ActionLink("DIETAS", "index", "DIETAs")</h2>

        </div>
        <div class="col-md-4">
            <h2 style="font-size:20px; position:absolute; top:-590px; right:960px">@Html.ActionLink("CALIFICACION", "index", "PQRs")</h2>

        </div>

        <div class="col-md-4">
            <h2>@Html.ActionLink("Nutricionista", "Index", "NUTRICIONISTAs")</h2>
            
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Rutas", "Index", "RUTAs")</h2>
            
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Distibuidor", "Index", "DISTRIBUIDORs")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Registrar Pacientes", "Create", "PacienteUsers")</h2>
        </div>
    </div>

    <div id="footer" class="footer"> <p style="color:#FFFFFF" ;>Derechos Reservados &copy; 2019 Laura Garcia - Cristian Tique - Kelly Orozco - Angey Velez - Andres Ocampo </p></div>
</body>